.App {
  display: flex;
  background-color: white;
  height: 100vh;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}